SimVirtualLocation.xcodeproj/xcuserdata
SimVirtualLocation.xcodeproj/project.pbxproj
DerivedData
buildServer.json

# Swift Package Manager
.build/
.swiftpm/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcworkspace/xcshareddata/swiftpm/

# Xcode workspace
*.xcworkspace/xcuserdata/
